.money {
	text-align: right;
}

.re {
	width: 100px;
}

#bodyInvest, #htmlInvest {
	background-image: url("../img/Investment.jpg");
	height: 100%;
}

#bodyBond, #htmlBond {
	background-image: url("../img/bond.jpg");
	height: 100%;
}

#investTable, #bondTable {
	opacity: 0.9;
	background-color: white;
}