.p24_bond {
	padding: 30px 0 45px 0
}

.p24_bond.p24_nedbank h5 {
	color: #004d36;
	border-bottom-color: #004d36
}

.p24_bond.p24_nedbank .input-group .input-group-addon {
	color: #004d36
}

.p24_bond.p24_nedbank .panel-default .panel-heading {
	background: #004d36
}

.p24_bond.p24_nedbank .p24_smallBranding {
	display: block !important
}

.p24_bond.p24_nedbank .p24_largeBranding {
	margin-top: 15px
}

.p24_bond.p24_nedbank .btn-success {
	background-color: #004d36
}

.p24_bond.p24_nedbank .btn-primary {
	background-color: #004d36
}

.p24_bond.p24_nedbank .btn-link {
	color: #004d36
}

.p24_bond.p24_nedbank .p24_sidebar .p24_results div.p24_bold {
	color: #004d36
}

.p24_bond.p24_nedbank .p24_sidebar .p24_results .p24_costs .label-default
	{
	background: #004d36
}

.p24_bond h1 {
	margin-bottom: 30px
}

.p24_bond .tooltip {
	min-width: 245px
}

.p24_bond .panel .panel-heading {
	color: #fff;
	background-color: #0d63c9
}

.p24_bond .panel .panel-heading .badge {
	margin-right: 5px;
	color: #515b6d;
	background: #fff
}

.p24_bond .panel .panel-body .panel-heading {
	margin: 0 -15px
}

.p24_bond .input-group .input-group-addon {
	color: #0d63c9;
	background: transparent
}

.p24_bond .input-group+em {
	font-size: 14px;
	color: #9ea5b1
}

.p24_bond .p24_graph .p24_bondGraph {
	height: 300px
}

.p24_bond .p24_graph img.p24_total {
	position: absolute;
	left: 13px
}

.p24_bond .p24_graph img.p24_months {
	position: absolute;
	top: 320px;
	left: 50%;
	margin-left: -25px
}

.p24_bond .p24_graph form {
	margin: 15px 0
}

.p24_bond .p24_graph form h5 {
	margin-bottom: 0
}

.p24_bond .p24_graph .btn {
	margin: 15px 10px 0 0
}

.p24_bond .p24_largeBranding img {
	margin: 0 auto
}

.p24_bond .p24_sidebar {
	margin-left: 0
}

.p24_bond .p24_sidebar form {
	padding-bottom: 15px
}

.p24_bond .p24_sidebar h5 {
	margin-top: 15px
}

.p24_bond .p24_sidebar h5+.p24_results {
	padding-top: 10px
}

.p24_bond .p24_sidebar .p24_results {
	padding: 20px 0
}

.p24_bond .p24_sidebar .p24_results div {
	font-size: 14px
}

.p24_bond .p24_sidebar .p24_results div.p24_bold {
	font-size: 20px;
	color: #0d63c9
}

.p24_bond .p24_sidebar .p24_results hr {
	margin: 15px 0
}

.p24_bond .p24_sidebar .p24_results .p24_costs .label-default {
	position: relative;
	padding: 2px 8px;
	display: inline-block;
	font-size: 13px;
	background: #0d63c9
}

.p24_largeBranding {
	background: #004d36;
	text-align: center;
	display: block !important
}

@
-moz-document url-prefix (){
	
}

.p24_values h4 {
	margin-bottom: 15px
}

.p24_values .p24_whiteBG {
	margin-bottom: 30px;
	padding: 30px 0
}

.p24_values ul li {
	position: relative;
	padding: 3px 0 3px 25px
}

.p24_values ul li .badge {
	margin-right: 5px;
	background: #3cc89e
}

.p24_values ul li .fa-arrow-circle-right, .p24_values ul li .badge {
	position: absolute;
	top: 7px;
	left: 0;
	color: #3cc89e
}

.p24_values ul li .badge {
	color: #fff
}

.p24_values .p24_map {
	position: relative;
	height: 335px;
	margin-bottom: 10px
}

.p24_values .p24_map .p24_loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -36px 0 0 -28px;
	color: #4bc3f9
}

.p24_values .p24_legend {
	margin: 10px 0
}

.p24_values .p24_legend div.pull-left {
	margin-right: 15px
}

.p24_values .p24_legend div.pull-left span.label {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 5px 0 0;
	padding-right: 10px;
	vertical-align: text-top
}

.p24_values .table {
	margin: 30px 0;
	border: 1px solid #ddd
}

.p24_values .table.table-striped tbody tr:nth-child(odd) th {
	font-weight: 700;
	background-color: #fff
}

.p24_values .table.table-striped tbody tr td {
	vertical-align: middle
}

.p24_values .panel.p24_stats:before, .p24_values .panel.p24_stats:after
	{
	content: " ";
	display: table
}

.p24_values .panel.p24_stats:after {
	clear: both
}

.p24_values .panel.p24_stats:before, .p24_values .panel.p24_stats:after
	{
	content: " ";
	display: table
}

.p24_values .panel.p24_stats:after {
	clear: both
}

.p24_values .panel.p24_stats .row {
	margin-bottom: 15px
}

.p24_values .panel.p24_stats h5 {
	margin-bottom: 15px
}

.p24_values .panel.p24_stats h5 span {
	font-size: 14px;
	font-weight: 400
}

.p24_values .panel.p24_stats .col-xs-3 {
	padding-right: 0
}

.p24_values .panel .panel-body hr {
	margin: 15px 0
}

.p24_values .panel .panel-body .p24_more {
	display: inline-block;
	margin-bottom: 10px
}

.p24_alphabet {
	padding-right: 25px
}

.p24_alphabet a {
	
}

.p24_alphabet a.p24_character {
	margin: 0 10px 15px 0;
	padding: 1px;
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	color: #515b6d
}

.p24_alphabet hr {
	margin: 15px 0
}

.p24_alphabet .col-xs-12 a {
	font-weight: 700;
	color: #0d63c9
}

.p24_alphabet .col-xs-4 a {
	font-weight: 400;
	color: #515b6d;
	line-height: 24px
}

.ie8 .p24_values .table td, .ie8 .p24_values .table th {
	padding: 5px 10px;
	border-bottom: 1px solid #ddd
}

.p24_articles {
	padding: 30px 0;
	background: #fff
}

.p24_articles .p24_sidebar {
	margin-left: 0
}

.p24_articles .p24_menu {
	margin-bottom: 30px
}

.p24_articles .p24_menu .btn-group {
	width: 100%;
	display: block
}

.p24_articles .p24_menu .btn-group:before, .p24_articles .p24_menu .btn-group:after
	{
	content: " ";
	display: table
}

.p24_articles .p24_menu .btn-group:after {
	clear: both
}

.p24_articles .p24_menu .btn-group:before, .p24_articles .p24_menu .btn-group:after
	{
	content: " ";
	display: table
}

.p24_articles .p24_menu .btn-group:after {
	clear: both
}

.p24_articles .p24_menu .btn-group.open .btn-block {
	color: #fff;
	background: #4bc3f9;
	border-color: #4bc3f9
}

.p24_articles .p24_menu .btn-group .btn-block {
	text-align: left;
	color: #0d63c9
}

.p24_articles .p24_menu .btn-group .btn-block:hover {
	color: #fff;
	background: #4bc3f9;
	border-color: #4bc3f9
}

.p24_articles .p24_menu .btn-group .btn-block .fa-angle-down {
	margin-top: 3px;
	float: right !important
}

.p24_articles .p24_menu .btn-group .dropdown-menu {
	width: inherit;
	margin-top: -1px;
	border-top: none
}

.p24_articles .p24_menu .btn-group .dropdown-menu li {
	padding: 5px 15px
}

.p24_articles .p24_menu .btn-group .dropdown-menu li.active a {
	color: #4bc3f9;
	background: transparent
}

.p24_articles .p24_menu .btn-group .dropdown-menu li.active:hover a {
	color: #fff
}

.p24_articles .p24_topStory {
	margin-bottom: 25px
}

.p24_articles .p24_topStory>div {
	position: relative
}

.p24_articles .p24_topStory>div a {
	display: inline-block
}

.p24_articles .p24_topStory>div img {
	width: 460px;
	height: 338px
}

.p24_articles .p24_topStory>div .p24_category {
	position: absolute;
	left: 5px;
	bottom: 5px;
	padding: 3px 10px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	background: rgba(0, 0, 0, .8);
	border-radius: 2px
}

.p24_articles .p24_topStory h4 {
	margin: 10px 0
}

.p24_articles .p24_topStory h4 a {
	font-weight: 700;
	text-decoration: none;
	display: block;
	height: 44px;
	overflow: hidden
}

.p24_articles .p24_topStory .p24_date {
	display: inline-block;
	margin-left: 15px
}

.p24_articles .col-xs-6 .col-xs-6 .p24_topStory img {
	width: 220px;
	height: 162px
}

.p24_articles .col-xs-6 .col-xs-6 .p24_topStory p {
	display: none !important
}

.p24_articles .col-xs-6 .col-xs-6 .p24_topStory h4 {
	margin: 5px 0
}

.p24_articles .col-xs-6 .col-xs-6 .p24_topStory h4 a {
	font-size: 18px;
	line-height: 22px
}

.p24_articles .p24_collection img {
	width: 195px;
	height: 145px
}

.p24_articles .p24_collection .col-xs-4 {
	padding-right: 0
}

.p24_articles .p24_collection .col-xs-8 {
	padding-left: 0
}

.p24_articles .p24_collection h4 {
	margin: 10px 0;
	font-weight: 400
}

.p24_articles .p24_collection h4 a:hover {
	text-decoration: none
}

.p24_articles .p24_newsletter {
	position: relative;
	margin-top: 45px;
	padding: 20px 20px 5px 20px;
	font-size: 15px;
	line-height: 22px;
	color: #fff;
	background: #0d63c9;
	border-radius: 2px
}

.p24_articles .p24_newsletter:before, .p24_articles .p24_newsletter:after
	{
	content: " ";
	display: table
}

.p24_articles .p24_newsletter:after {
	clear: both
}

.p24_articles .p24_newsletter:before, .p24_articles .p24_newsletter:after
	{
	content: " ";
	display: table
}

.p24_articles .p24_newsletter:after {
	clear: both
}

.p24_articles .p24_newsletter h5 {
	font-size: 26px;
	line-height: 30px
}

.p24_articles .p24_newsletter h5+div {
	
}

.p24_articles .p24_newsletter div.p24_bold {
	display: none !important
}

.p24_articles .p24_newsletter .checkbox-inline {
	margin: 10px 20px 0 0;
	padding-left: 0;
	vertical-align: top
}

.p24_articles .p24_newsletter .checkbox-inline label {
	padding-left: 0;
	font-weight: 300
}

.p24_articles .p24_newsletter .checkbox-inline label .fa-stack {
	margin-left: -5px
}

.p24_articles .p24_newsletter .checkbox-inline label input[type="checkbox"]
	{
	margin-top: 8px;
	margin-left: -24px;
	opacity: 0;
	filter: alpha(opacity = 0)
}

.p24_articles .p24_newsletter .checkbox-inline label small {
	display: none !important
}

.p24_articles .p24_newsletter .btn-primary {
	background-color: #0b57b1;
	border-color: #084081
}

.p24_articles .p24_newsletter img[alt="Get the latest news"] {
	position: absolute;
	top: 45px;
	right: 20px
}

.p24_date {
	color: #abb4c3
}

.p24_article {
	padding: 30px 0;
	font-size: 17px;
	line-height: 27px;
	background: #fff
}

.p24_article.p24_adVisible {
	position: relative;
	z-index: 2;
	width: 960px;
	margin: 0 auto;
	background: #f6f6f6
}

.p24_article .col-xs-9 ul {
	padding-left: 20px;
	list-style: initial
}

.p24_article .col-xs-9 ul li {
	margin-bottom: 15px
}

.p24_article .p24_externalSource {
	margin-bottom: 15px;
	padding: 15px 0;
	border-top: 1px solid #0d63c9;
	border-bottom: 2px solid #0d63c9
}

.p24_article .p24_externalSource:before, .p24_article .p24_externalSource:after
	{
	content: " ";
	display: table
}

.p24_article .p24_externalSource:after {
	clear: both
}

.p24_article .p24_externalSource:before, .p24_article .p24_externalSource:after
	{
	content: " ";
	display: table
}

.p24_article .p24_externalSource:after {
	clear: both
}

.p24_article .p24_externalSource h3 {
	color: #0d63c9;
	line-height: 32px;
	float: left !important
}

.p24_article .p24_externalSource div {
	float: right !important
}

.p24_article .p24_externalSource div img {
	display: inline-block;
	margin-left: 15px
}

.p24_article .col-xs-9 {
	padding-right: 30px
}

.p24_article .p24_newsletter {
	position: relative;
	padding: 20px 20px 5px 20px;
	font-size: 15px;
	line-height: 22px;
	color: #fff;
	background: #0d63c9;
	border-radius: 2px
}

.p24_article .p24_newsletter:before, .p24_article .p24_newsletter:after
	{
	content: " ";
	display: table
}

.p24_article .p24_newsletter:after {
	clear: both
}

.p24_article .p24_newsletter:before, .p24_article .p24_newsletter:after
	{
	content: " ";
	display: table
}

.p24_article .p24_newsletter:after {
	clear: both
}

.p24_article .p24_newsletter h5 {
	font-size: 26px;
	line-height: 30px
}

.p24_article .p24_newsletter h5+div {
	
}

.p24_article .p24_newsletter div.p24_bold {
	display: none !important
}

.p24_article .p24_newsletter .form-group {
	width: 84%;
	display: inline-block
}

.p24_article .p24_newsletter .form-group input[type="text"] {
	width: 99%
}

.p24_article .p24_newsletter .form-group+.form-group {
	width: 15%
}

.p24_article .p24_newsletter .checkbox-inline {
	margin: 10px 20px 0 0;
	padding-left: 0;
	vertical-align: top
}

.p24_article .p24_newsletter .checkbox-inline label {
	padding-left: 0;
	font-weight: 300
}

.p24_article .p24_newsletter .checkbox-inline label .fa-stack {
	margin-left: -5px
}

.p24_article .p24_newsletter .checkbox-inline label input[type="checkbox"]
	{
	margin-top: 8px;
	margin-left: -24px;
	opacity: 0;
	filter: alpha(opacity = 0)
}

.p24_article .p24_newsletter .btn-primary {
	background-color: #0b57b1;
	border-color: #084081
}

.p24_article .p24_newsletter img[alt="Get the latest news"] {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 70px
}

.p24_article .p24_nextArticle {
	padding: 15px;
	font-size: 15px;
	line-height: 22px
}

.p24_article .p24_nextArticle h4 {
	margin-bottom: 15px
}

.p24_article .p24_nextArticle h4 a {
	font-weight: 700;
	text-decoration: none
}

.p24_article .p24_nextArticle .fa {
	margin-left: 5px
}

.p24_article .p24_nextArticle img {
	max-height: 205px
}

.p24_article .clearfix+.panel-default {
	margin-top: 15px
}

.p24_article .p24_social:before, .p24_article .p24_social:after {
	content: " ";
	display: table
}

.p24_article .p24_social:after {
	clear: both
}

.p24_article .p24_social:before, .p24_article .p24_social:after {
	content: " ";
	display: table
}

.p24_article .p24_social:after {
	clear: both
}

.p24_article .p24_social div.pull-left {
	width: 70px
}

.p24_article .p24_social div.pull-left img[alt="Google Plus"] {
	display: none !important
}

.p24_article .p24_imageLeft, .p24_article .p24_imageRight, .p24_article .imageright,
	.p24_article .imageleft {
	max-width: 250px;
	padding: 10px;
	margin: 0 0 10px 15px;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	float: left !important
}

.p24_article .p24_imageLeft img, .p24_article .p24_imageRight img,
	.p24_article .imageright img, .p24_article .imageleft img {
	max-width: 100%
}

.p24_article .p24_imageRight, .p24_article .imageright {
	float: right !important
}

.p24_article img[width="1"] {
	display: none !important
}

.p24_article .p24_sidebar div[class^=col-xs-4] {
	padding-right: 0;
	padding-right: 5px
}

.p24_article .p24_sidebar div[class^=col-xs-8] {
	padding: 0 5px
}

.p24_article .p24_sidebar div.pull-left {
	width: 33%
}

.p24_article .p24_sidebar a {
	display: block;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.p24_article .p24_sidebar a.btn {
	display: inline-block
}

.p24_article .p24_sidebar .col-xs-12 {
	font-size: 13px
}

.p24_article .p24_sidebar .clearfix+.btn-xs {
	margin: 10px 0;
	vertical-align: top
}

.p24_article .p24_sidebar .p24_printButton {
	margin: 10px 0
}

.p24_article .p24_sidebar .p24_printButton span {
	display: inline-block;
	vertical-align: middle
}

.p24_article .p24_sidebar .p24_social {
	
}

.p24_article .p24_sidebar .p24_social a {
	display: inline-block
}

.p24_article .p24_sidebar .p24_social a .fa.fa-facebook-official {
	color: #3b5998
}

.p24_article .p24_sidebar .p24_social a .fa.fa-twitter-square {
	color: #55acee
}

.p24_article .p24_sidebar .p24_social a .fa.fa-google-plus-square {
	color: #dd4b39
}

.p24_article .p24_sidebar .p24_social a .fa.fa-whatsapp {
	color: #43d854
}

.ie8 .p24_article div.pull-left {
	position: relative
}

.ie8 .p24_article div.pull-left img[alt="Google Plus"] {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10;
	display: block !important
}

.p24_not_found .p24_pTXXL {
	border-bottom: 1px solid #ccc
}

.p24_not_found h1 {
	margin: 30px 0 20px 0
}

.p24_not_found h5 {
	font-size: 20px;
	font-weight: 700
}

.p24_not_found img {
	margin: 30px 0 0 0
}

.p24_not_found p {
	padding: 30px 0;
	font-size: 18px;
	color: #202020
}

.p24_not_found span {
	font-weight: 700
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.pull-right {
	float: right !important
}

.pull-left {
	float: left !important
}

.hide {
	display: none !important
}

.show {
	display: block !important
}

.invisible {
	visibility: hidden
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.hidden {
	display: none !important
}

.affix {
	position: fixed
}

.p24_apps {
	padding: 30px 0
}

.p24_apps ul.nav-tabs {
	margin-top: 30px
}

.p24_apps ul.nav-tabs li.p24_mobileTab .fa {
	color: #515b6d
}

.p24_apps ul.nav-tabs li.active a {
	color: #4bc3f9;
	background: #fff
}

.p24_apps ul.nav-tabs li a {
	padding: 5px 0;
	line-height: 40px;
	color: #515b6d
}

.p24_apps ul.nav-tabs li a:hover {
	color: #4bc3f9;
	background: #fff;
	border-bottom-color: transparent
}

.p24_apps ul.nav-tabs li a .fa {
	display: inline-block
}

.p24_apps .panel {
	border-top: 0
}

.p24_apps .panel .panel-body h2 {
	margin-bottom: 15px
}

.p24_apps .panel .panel-body h5 {
	margin-bottom: 0
}

.p24_apps .panel .panel-body ul {
	margin-bottom: 15px
}

.p24_apps .panel .panel-body ul li {
	position: relative;
	padding: 3px 0 3px 25px
}

.p24_apps .panel .panel-body ul li .fa {
	position: absolute;
	top: 7px;
	left: 0
}

.ie8 .p24_apps ul.nav-tabs {
	margin-top: 30px
}

.ie8 .p24_apps ul.nav-tabs li {
	margin-right: 5px;
	text-align: center;
	float: left !important
}

.ie8 .p24_apps ul.nav-tabs li.active a {
	border-bottom: 1px solid transparent
}

.ie8 .p24_apps ul.nav-tabs li a {
	padding-left: 5px;
	padding-right: 10px
}

.ie8 .p24_apps .panel {
	margin-top: -5px;
	border-top: 1px solid #dfdfdf
}

.p24_marketing {
	
}

.p24_marketing .p24_fl {
	padding: 30px 0;
	font-size: 17px
}

.p24_marketing .p24_fl .lead.text-info {
	font-size: 22px
}

.p24_marketing .p24_fl h2.text-primary {
	margin-top: 25px;
	text-align: left;
	border-bottom: 2px solid #0d63c9
}

.p24_marketing .p24_fl h2.text-danger {
	margin-top: 25px;
	text-align: left;
	border-bottom: 2px solid #f04432
}

.p24_marketing .p24_fl p {
	margin-top: 5px;
	text-align: left
}

.p24_marketing .p24_fl .p24_sidebar .lead {
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-size: 22px;
	border-bottom: 2px solid #4bc3f9
}

.p24_marketing .p24_fl .p24_sidebar h5 {
	margin: 15px 0 0 0;
	border-bottom: none
}

.p24_marketing .p24_hollard {
	padding: 30px 0
}

.p24_marketing .p24_hollard img[alt="Hollard Home Warranty"] {
	max-width: 689px;
	margin: -15px 0 15px -15px
}

.p24_marketing .p24_hollard h1 {
	color: #e75204
}

.p24_marketing .p24_hollard h3 {
	color: #4c2b6b
}

.p24_marketing .p24_hollard h3.p24_border {
	padding-bottom: 8px;
	border-bottom: 2px solid #532c6e
}

.p24_marketing .p24_hollard h5 {
	margin-top: 10px
}

.p24_marketing .p24_hollard p {
	margin: 15px 0;
	font-size: 17px
}

.p24_marketing .p24_hollard .fa-check {
	color: #e75204
}

.p24_marketing .p24_hollard ul {
	margin-bottom: 15px
}

.p24_marketing .p24_hollard ul li {
	position: relative;
	padding: 3px 0 0 20px
}

.p24_marketing .p24_hollard ul li .fa {
	position: absolute;
	top: 8px;
	left: 0
}

.p24_marketing .p24_hollard .p24_sidebar h4 {
	margin-bottom: 15px;
	color: #e75204
}

.p24_marketing .p24_hollard .p24_sidebar h4.p24_border {
	margin-bottom: 0;
	padding-bottom: 8px;
	color: #4c2b6b;
	border-bottom: 2px solid #532c6e
}

.p24_marketing .p24_hollard .p24_sidebar h4+h4 {
	margin-top: 10px;
	color: #4c2b6b
}

.p24_marketing .p24_hollard .p24_sidebar h5 {
	margin-bottom: 0;
	border-bottom: none
}

.p24_marketing .p24_convert {
	font-size: 18px;
	background: #fff
}

.p24_marketing .p24_convert .p24_header {
	margin-bottom: 40px;
	padding: 35px 0;
	background: #96d5c0
}

.p24_marketing .p24_convert .p24_header h3 {
	margin-top: 15px;
	font-size: 30px;
	color: #fff
}

.p24_marketing .p24_convert img {
	margin-bottom: 25px
}

.p24_marketing .p24_convert .btn-primary {
	margin: 30px 0;
	font-size: 22px;
	font-weight: 700;
	padding: 10px 60px;
	background-color: #00aeef
}

.p24_marketing .p24_convert .btn-default {
	color: #000;
	border-color: #000
}

.p24_marketing .p24_convert .panel {
	margin-top: 25px
}

.p24_marketing .p24_convert .panel .p24_bold {
	font-size: 24px
}

.p24_marketing .p24_convert hr {
	margin: 25px 0 40px 0
}

.p24_marketing .p24_charity {
	padding: 30px 0
}

.p24_marketing .p24_charity h1, .p24_marketing .p24_charity h3,
	.p24_marketing .p24_charity p {
	margin: 0 30px 15px 30px
}

.p24_marketing .p24_charity h1 {
	color: #0d63c9
}

.p24_marketing .p24_charity h3 {
	color: #f04432
}

.p24_marketing .p24_charity h3+img {
	margin: 0 auto
}

.p24_marketing .p24_charity h5 {
	margin: 0;
	padding-bottom: 0;
	border-bottom: none
}

.p24_marketing .p24_charity img[alt="The Art of Home"] {
	width: 100%;
	margin-bottom: 30px
}

.p24_marketing .p24_charity img[alt="Artist"] {
	margin-right: 30px;
	float: right !important
}

.p24_marketing .p24_charity hr {
	margin: 15px 0;
	border-top: 1px solid #f04432
}

.p24_marketing .p24_charity .btn-block {
	margin: 15px 0
}

.p24_marketing .p24_charity .p24_sidebar h4 {
	margin: 0 0 15px 0
}

.p24_marketing .p24_charity .p24_sidebar p {
	margin: 15px 0
}

.p24_marketing .p24_pl {
	min-width: 960px
}

.p24_marketing .p24_pl.p24_faq .p24_top .bg-primary h1 {
	font-weight: 300
}

.p24_marketing .p24_pl.p24_faq .panel-group {
	margin-bottom: 75px
}

.p24_marketing .p24_pl.p24_faq .panel-group .fa-angle-up {
	display: none
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel {
	font-size: 17px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading {
	font-weight: 400;
	text-transform: none;
	background: transparent;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a {
	color: #0d63c9
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a:hover,
	.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a:active,
	.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a:visited,
	.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a:focus
	{
	text-decoration: none
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a.collapsed .fa-angle-up
	{
	display: none
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a.collapsed .fa-angle-down
	{
	display: inline-block
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a .fa-angle-up
	{
	display: inline-block
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a .fa-angle-down
	{
	display: none
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-heading a .fa
	{
	margin-right: 5px;
	color: #515b6d
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-body {
	padding: 10px 0 20px 30px;
	border: none
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-body ul,
	.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-body li {
	border: none
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-body li {
	padding-left: 0
}

.p24_marketing .p24_pl.p24_faq .panel-group .panel .panel-body li .fa {
	margin-right: 5px;
	color: #3cc89e
}

.p24_marketing .p24_pl .p24_top {
	min-width: 960px
}

.p24_marketing .p24_pl .p24_top .bg-primary {
	margin-bottom: 25px;
	padding: 30px 0
}

.p24_marketing .p24_pl .p24_top h1 {
	font-size: 66px;
	font-weight: 700;
	line-height: 66px;
	color: #fff
}

.p24_marketing .p24_pl .p24_top h3 {
	line-height: 40px
}

.p24_marketing .p24_pl hr.p24_margin {
	margin: 25px 0
}

.p24_marketing .p24_pl ul.p24_benefits {
	margin-top: 30px
}

.p24_marketing .p24_pl ul.p24_benefits li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 30px;
	font-size: 17px;
	line-height: 24px
}

.p24_marketing .p24_pl ul.p24_benefits li:last-of-type {
	line-height: 13px;
	line-height: 15px
}

.p24_marketing .p24_pl ul.p24_benefits li i {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 22px
}

.p24_marketing .p24_pl ul.p24_benefits li i.fa-star {
	top: 2px;
	left: 15px;
	font-size: 8px
}

.p24_marketing .p24_pl ul.p24_benefits li span {
	font-weight: 700
}

.p24_marketing .p24_pl ul.p24_benefits li small {
	font-size: 13px
}

.p24_marketing .p24_pl ul+a {
	display: inline-block;
	margin-top: 25px;
	font-size: 17px
}

.p24_marketing .p24_pl .p24_plReg, .p24_marketing .p24_pl .p24_plRegMessage
	{
	margin: 15px auto 35px auto
}

.p24_marketing .p24_pl .p24_plRegMessage hr {
	margin-bottom: 15px
}

.p24_marketing .p24_pl .p24_plReg.form-horizontal {
	position: relative;
	max-width: 640px
}

.p24_marketing .p24_pl .p24_plReg.form-horizontal .checkbox {
	position: relative;
	min-height: 1px;
	padding-left: 20px
}

.p24_marketing .p24_pl .p24_plReg.form-horizontal .checkbox input[type="checkbox"]
	{
	position: absolute;
	top: 8px;
	left: 0;
	margin-left: 0
}

.p24_marketing .p24_pl .p24_graph small {
	font-size: 17px
}

.p24_marketing .p24_pl .p24_graph img {
	float: right !important
}

.p24_marketing .p24_pl .p24_graph .clearfix+small {
	color: #bac1ce;
	font-size: 15px
}

.p24_marketing .p24_pl .p24_packages {
	padding-bottom: 45px
}

.p24_marketing .p24_pl .p24_packages h2 {
	margin-bottom: 30px;
	font-size: 35px
}

.p24_marketing .p24_pl .p24_packages h2+p {
	font-weight: 700;
	text-transform: uppercase
}

.p24_marketing .p24_pl .panel {
	margin-top: 5px
}

.p24_marketing .p24_pl .panel.p24_self .panel-heading {
	background: #4bc3f9
}

.p24_marketing .p24_pl .panel.p24_assisted .panel-heading {
	background: #0d63c9
}

.p24_marketing .p24_pl .panel.p24_assisted .panel-body div.text-primary+div
	{
	padding: 32px 0;
	text-align: center;
	background: #eee
}

.p24_marketing .p24_pl .panel.p24_assisted .panel-body div.text-primary+div span
	{
	font-weight: 700;
	text-transform: uppercase
}

.p24_marketing .p24_pl .panel .panel-heading {
	padding: 10px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase
}

.p24_marketing .p24_pl .panel .panel-body {
	padding: 0
}

.p24_marketing .p24_pl .panel .panel-body div.text-info, .p24_marketing .p24_pl .panel .panel-body div.text-primary
	{
	margin: 10px 0;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px
}

.p24_marketing .p24_pl .panel .panel-body ul {
	border-top: 1px solid #d8dce3
}

.p24_marketing .p24_pl .panel .panel-body ul li {
	padding: 10px 15px;
	font-size: 16px;
	border-bottom: 1px solid #d8dce3
}

.p24_marketing .p24_pl .panel .panel-body ul li .fa-check {
	margin-right: 5px
}

.p24_marketing .p24_pl .panel .panel-body .btn {
	display: block;
	margin: 20px auto;
	width: 85%
}

.p24_marketing .p24_pl .panel .panel-body .tooltip .tooltip-arrow {
	border-right-color: #d8dce3
}

.p24_marketing .p24_pl .panel .panel-body .tooltip .tooltip-inner {
	min-width: 225px;
	max-width: none;
	padding: 3px 8px;
	font-size: 15px;
	color: #515b6d;
	text-align: center;
	background-color: #fff;
	border: 1px solid #d8dce3;
	border-radius: 2px
}

.p24_marketing .p24_pl .p24_whiteBG {
	margin-top: 25px;
	padding: 75px 0 15px 0
}

.p24_marketing .p24_pl .p24_whiteBG h2 {
	margin-bottom: 25px
}

.p24_marketing .p24_pl .p24_whiteBG .btn {
	width: 230px;
	margin: 30px 13px
}

.p24_marketing .p24_pl .p24_contact {
	min-height: 855px;
	padding: 0 0 60px 0;
	color: #fff;
	background:
		url(/Content/images/Optimized/Marketing/marketing_support.jpg?z=4c3c16)
		0 0 no-repeat;
	background-size: cover
}

.p24_marketing .p24_pl .p24_contact h2 {
	margin: 75px 0 15px 0;
	color: #fff
}

.p24_marketing .p24_pl .p24_contact h2+h2 {
	margin: 0;
	font-weight: 700
}

.p24_marketing .p24_pl .p24_contact form {
	position: relative;
	margin-top: 30px;
	padding: 25px 25px 0 25px;
	background: #eee;
	min-height: 200px
}

.p24_marketing .p24_pl .p24_contact form:before, .p24_marketing .p24_pl .p24_contact form:after
	{
	content: " ";
	display: table
}

.p24_marketing .p24_pl .p24_contact form:after {
	clear: both
}

.p24_marketing .p24_pl .p24_contact form:before, .p24_marketing .p24_pl .p24_contact form:after
	{
	content: " ";
	display: table
}

.p24_marketing .p24_pl .p24_contact form:after {
	clear: both
}

.p24_marketing .p24_pl .p24_contact form h4 {
	margin-bottom: 25px;
	font-weight: 700;
	color: #515b6d
}

.p24_marketing .p24_pl .p24_contact form .control-label {
	font-weight: 700;
	color: #515b6d
}

.p24_marketing .p24_pl .p24_contact form textarea {
	resize: vertical;
	max-height: 150px;
	min-height: 70px
}

.ie8 .p24_marketing .p24_pl .p24_contact {
	min-height: 850px;
	background-position: top center
}

@media print {
	a[href]:after {
		content: ""
	}
	.p24_footer {
		display: none
	}
	.p24_articleHolder h1 {
		margin-bottom: 15px
	}
}

.p24_careers {
	min-width: 960px;
	position: relative
}

.p24_careers a:not (.btn-primary ){
	font-size: 16px;
	color: #4bc3f9
}

.p24_careers a.text-muted {
	color: #fff
}

.p24_careers img.p24_marketing {
	margin-top: -180px
}

.p24_careers img.p24_kitchen {
	margin-bottom: 75px
}

.p24_careers img.p24_ieReplace {
	display: none !important
}

.p24_careers .p24_headerVideo {
	position: relative;
	overflow: hidden;
	background: #fff
}

.p24_careers .p24_headerVideo.p24_showVideo img.p24_headerStill {
	display: none !important
}

.p24_careers .p24_headerVideo.p24_showVideo video {
	margin: 0 auto;
	display: block !important
}

.p24_careers .p24_headerVideo.p24_showVideo .p24_gridOverlay {
	bottom: 0
}

.p24_careers .p24_headerVideo.p24_phone {
	height: auto
}

.p24_careers .p24_headerVideo.p24_phone video {
	display: none !important
}

.p24_careers .p24_headerVideo.p24_phone img.p24_headerStill {
	max-width: 100%;
	display: block !important
}

.p24_careers .p24_headerVideo.p24_phone h1 {
	z-index: 2;
	margin-left: -35%
}

.p24_careers .p24_headerVideo video {
	display: none !important
}

.p24_careers .p24_headerVideo img {
	max-width: none
}

.p24_careers .p24_headerVideo h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	margin: -60px 0 0 -370px;
	font-size: 56px;
	font-weight: 400;
	line-height: 60px;
	color: #fff;
	text-align: center;
	pointer-events: none;
	text-shadow: 1px 1px 1px #515b6d
}

.p24_careers .p24_headerVideo .p24_gridOverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background:
		url(/Content/images/Regular/Careers/grid_overlay.png?z=4c3c16) 0 0
		no-repeat
}

.p24_careers h1 {
	position: relative;
	margin-top: 30px;
	font-weight: 400;
	color: #4bc3f9
}

.p24_careers h1 img {
	margin-top: -20px;
	border: 1px solid #d8dce3;
	border-radius: 2px;
	float: right !important
}

.p24_careers h1+span.label-danger {
	display: inline-block;
	margin-top: 25px;
	font-size: 15px
}

.p24_careers h2 {
	margin-top: 60px;
	font-weight: 300;
	color: #4bc3f9
}

.p24_careers .lead {
	margin: 30px 0
}

.p24_careers a+h2 {
	margin-top: 30px
}

.p24_careers h4 {
	font-weight: 300
}

.p24_careers h2+h4 {
	margin: 30px 0
}

.p24_careers h4, .p24_careers h5 {
	color: #9ea5b1
}

.p24_careers .lead+h5, .p24_careers p+h5 {
	margin-top: 30px;
	color: #515b6d
}

.p24_careers p.p24_bold {
	font-size: 17px
}

.p24_careers p+div {
	margin-top: 15px
}

.p24_careers div:not (.lead )+p.p24_bold {
	margin-top: 15px
}

.p24_careers ul {
	margin: 15px 0 30px 0
}

.p24_careers ul.p24_perks {
	margin: 0
}

.p24_careers ul.p24_perks li {
	padding-bottom: 5px
}

.p24_careers ul li {
	position: relative;
	padding-left: 25px;
	line-height: 24px
}

.p24_careers ul li .fa {
	position: absolute;
	top: 5px;
	left: 0;
	font-size: 17px
}

.p24_careers .p24_profile {
	margin: 0 15px 0 15px;
	font-size: 16px
}

.p24_careers .p24_profile img {
	margin: 0 auto;
	display: block
}

.p24_careers .p24_profile h5 {
	margin: 5px 0;
	font-weight: 400;
	color: #4bc3f9
}

.p24_careers .p24_people {
	position: relative;
	height: 1070px;
	padding-bottom: 200px;
	background: #fff
}

.p24_careers .p24_people .p24_fadeIn {
	opacity: 0;
	filter: alpha(opacity = 0)
}

.p24_careers .p24_bubble {
	width: 484px;
	height: 130px;
	margin-bottom: 45px;
	padding: 33px 49.9999995px;
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;
	overflow: hidden
}

.p24_careers .p24_bubble.p24_blue {
	color: #fff;
	background:
		url(/Content/images/Regular/Careers/bubble_blue.png?z=4c3c16) top
		center no-repeat
}

.p24_careers .p24_bubble.p24_grey {
	background:
		url(/Content/images/Regular/Careers/bubble_grey.png?z=4c3c16) top
		center no-repeat
}

.p24_careers .p24_divider {
	background:
		url(/Content/images/Regular/Careers/careers_dotted_line.jpg?z=4c3c16)
		0 50% repeat-x
}

.p24_careers .p24_paralax {
	height: 600px;
	overflow: hidden;
	background-color: #fff;
	background-image:
		url(/Content/images/Regular/Careers/careers_office_small.jpg?z=4c3c16);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: cover;
	background-size: 100%
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_paralax {
		background-attachment: scroll
	}
}

.p24_careers .p24_careersMap {
	padding: 60px 0 30px 0;
	background: #fff
}

.p24_careers .p24_careersMap h4 {
	margin-bottom: 30px
}

.p24_careers .p24_careersMap h5 {
	margin-bottom: 20px;
	color: #9ea5b1
}

.p24_careers .p24_careersMap p {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 400;
	color: #4bc3f9
}

.p24_careers .p24_careersMap p+p {
	color: #9ea5b1
}

.p24_careers .p24_team {
	position: relative;
	height: 350px;
	padding-left: 3px;
	overflow: hidden;
	cursor: move
}

.p24_careers .p24_team .p24_imageHolder {
	width: 4405px;
	height: inherit;
	margin: 0 auto
}

.p24_careers .p24_team .p24_imageHolder .p24_video {
	position: relative;
	display: inline-block;
	margin-left: -4px;
	overflow: hidden
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_controls:before,
	.p24_careers .p24_team .p24_imageHolder .p24_video .p24_controls:after
	{
	content: " ";
	display: table
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_controls:after {
	clear: both
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_controls:before,
	.p24_careers .p24_team .p24_imageHolder .p24_video .p24_controls:after
	{
	content: " ";
	display: table
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_controls:after {
	clear: both
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_showVideo video {
	display: block !important
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_showVideo .p24_poster
	{
	display: none !important
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_poster {
	display: block !important
}

.p24_careers .p24_team .p24_imageHolder .p24_video video {
	display: none !important
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_daniel .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 240px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_daniel .p24_details .p24_controls div:not
	(.clearfix ){
	margin-left: 185px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_daniel .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 215px
	}
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_daniel .p24_details .p24_controls div:not
		(.clearfix ){
		margin-left: 165px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_iggy .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 160px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_iggy .p24_details .p24_controls div:not
	(.clearfix ){
	margin-left: 155px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_iggy .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 140px
	}
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_iggy .p24_details .p24_controls div:not
		(.clearfix ){
		margin-left: 145px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_tarren .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 215px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_tarren .p24_details .p24_controls div:not
	(.clearfix ){
	margin-left: 170px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_tarren .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 195px
	}
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_tarren .p24_details .p24_controls div:not
		(.clearfix ){
		margin-left: 160px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_justin {
	margin-left: -5px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_justin .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 265px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_justin .p24_details .p24_controls div:not
	(.clearfix ){
	margin-left: 205px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_justin .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 245px
	}
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_justin .p24_details .p24_controls div:not
		(.clearfix ){
		margin-left: 195px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_paul .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 75px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_paul .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 65px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_romy .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 265px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_romy .p24_details .p24_controls div:not
	(.clearfix ){
	margin-left: 185px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_romy .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 255px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_luke .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 65px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_luke .p24_details .p24_controls div:not
	(.clearfix ){
	margin-left: 25px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_luke .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 55px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_craig .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 155px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_craig .p24_details .p24_controls div:not
	(.clearfix ){
	margin-left: 105px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_craig .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 145px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_theo .p24_details .p24_controls .fa-play-circle
	{
	margin-left: 295px
}

.p24_careers .p24_team .p24_imageHolder .p24_video.p24_theo .p24_details .p24_controls div:not
	(.clearfix ){
	margin-left: 240px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video.p24_theo .p24_details .p24_controls .fa-play-circle
		{
		margin-left: 285px
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_details {
	position: absolute;
	top: 0;
	left: 1px;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding-top: 200px;
	background:
		url(/Content/images/Regular/Careers/careers_fade.png?z=4c3c16) 0 100%
		repeat-x
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_details.p24_hidden
	{
	display: none !important
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_team .p24_imageHolder .p24_video .p24_details {
		padding-top: 190px
	}
	.p24_careers .p24_team .p24_imageHolder .p24_video .p24_details .p24_controls .fa-play-circle
		{
		font-size: 6em
	}
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_details .p24_controls .fa-play-circle
	{
	color: #fff;
	cursor: pointer;
	float: left !important
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_details .p24_controls div:not
	(.clearfix ){
	font-size: 40px;
	font-weight: 400;
	color: #fff;
	line-height: 50px;
	text-align: center;
	float: left !important
}

.p24_careers .p24_team .p24_imageHolder .p24_video .p24_details .p24_controls div:not
	(.clearfix ) h5 {
	color: #4bc3f9
}

.p24_careers .p24_videoControl {
	padding: 15px 0 30px 0
}

.p24_careers .p24_videoControl .fa {
	color: #4bc3f9;
	cursor: pointer
}

.p24_careers .p24_videoControl .fa.fa-circle {
	font-size: 16px
}

@media ( -webkit-min-device-pixel-ratio :2) {
	.p24_careers .p24_videoControl .fa {
		margin: 15px 15px 0 15px;
		font-size: 30px
	}
	.p24_careers .p24_videoControl .fa.fa-circle {
		font-size: 31px
	}
}

.p24_careers .p24_learnMore h2 {
	margin-top: 0
}

.p24_careers .p24_learnMore a.btn-default {
	margin-bottom: 20px
}

.p24_careers .p24_learnMore a.btn-default:hover, .p24_careers .p24_learnMore a.btn-default:visited,
	.p24_careers .p24_learnMore a.btn-default:focus {
	border-color: #4bc3f9;
	background-color: #fff
}

.p24_careers .p24_vacancies {
	padding-bottom: 60px;
	background: #fff
}

.p24_careers .p24_vacancies h2 {
	margin-bottom: 30px;
	color: #9ea5b1
}

.p24_careers .p24_vacancies h5 {
	margin-top: 30px;
	font-weight: 400;
	text-transform: uppercase
}

.p24_careers .p24_vacancies a.p24_vacancy {
	position: relative;
	display: block;
	max-height: 5000em;
	margin: 10px 0;
	padding: 15px;
	outline: none;
	background: #f6f6f6;
	border: 1px solid transparent;
	border-bottom: 1px solid #4bc3f9
}

.p24_careers .p24_vacancies a.p24_vacancy:hover {
	text-decoration: none;
	border: 1px solid #4bc3f9
}

.p24_careers .p24_vacancies a.p24_vacancy:last-of-type {
	font-size: 16px !important
}

.p24_careers .p24_vacancies a.p24_vacancy span {
	color: #515b6d;
	float: right !important
}

.p24_careers .p24_vacancies a.p24_vacancy span.label-default {
	display: inline-block;
	margin: 4px 5px;
	font-size: 11px;
	font-weight: 400;
	background: #eee;
	border: 1px solid #d8dce3
}

.p24_careers .p24_vacancies a.p24_vacancy span i {
	margin-left: 15px;
	color: #4bc3f9
}

.p24_careers form {
	margin: 57px 0 0 0;
	padding: 15px 20px 0 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px
}

.p24_careers form h4 {
	margin-bottom: 25px
}

.p24_careers form .form-group label {
	font-weight: 400
}

.p24_careers form .form-group textarea {
	min-height: 150px
}

.p24_careers form .form-group .input-group .input-group-addon {
	background: #fff
}

.p24_careers form .form-group i {
	font-size: 12px
}

.p24_careers form .form-group .btn-default {
	position: relative;
	color: #9ea5b1;
	background-color: #fff;
	border: 1px solid #000
}

.p24_careers form .form-group .btn-default input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 107px;
	height: 34px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0)
}

.p24_careers form+div.text-center {
	padding: 10px 0
}

.p24_careers form+div.text-center a {
	text-decoration: underline;
	unicode-bidi: bidi-override;
	direction: rtl
}

.p24_careers .p24_office {
	padding: 0 0 45px 0;
	background: #f6f6f6
}

.p24_careers .p24_office .p24_imageGrid img {
	margin: 20px 0;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
	border-radius: 4px
}

@media screen and (max-width:767px) {
	.p24_careers .p24_office .p24_imageGrid[data-columns]:before {
		content: '1 .col-xs-12'
	}
}

@media screen and (min-width:768px) {
	.p24_careers .p24_office .p24_imageGrid[data-columns]:before {
		content: '2 .col-xs-6'
	}
}

.p24_careers .p24_snippet {
	padding-bottom: 30px
}

.p24_careers .p24_snippet h4 {
	font-weight: 700;
	color: #515b6d
}

.p24_careers .p24_snippet img {
	margin: 15px 0
}

.p24_careers .p24_snippet p {
	font-size: 14px
}

.ieMobile .p24_videoControl .fa {
	margin: 15px 15px 0 15px;
	font-size: 30px
}

.ieMobile .p24_videoControl .fa.fa-circle {
	font-size: 31px
}

@media screen and (max-width:480px) {
	.p24_paralax {
		background-attachment: scroll
	}
}

@media screen and (max-width:1024px) {
	.p24_headerVideo {
		height: 400px
	}
}

@media screen and (min-width:1200px) {
	.p24_headerVideo {
		height: 650px
	}
	.p24_headerVideo img.p24_headerStill {
		height: 650px
	}
}

.ie8 {
	
}

.ie8 .p24_careers {
	
}

.ie8 .p24_careers .p24_headerVideo img.p24_headerStill {
	display: block !important
}

.ie8 .p24_careers .p24_careersMap .container {
	width: 960px
}

.ie8 .p24_careers .p24_careersMap .container div.col-sm-5 {
	float: left;
	width: 400px
}

.ie8 .p24_careers .p24_careersMap .container div.col-sm-7 {
	float: left;
	width: 560px
}

.ie8 .p24_careers img.p24_ieReplace {
	display: block !important;
	width: 100%
}

.ie8 .p24_careers .p24_team, .ie8 .p24_careers .p24_hideIE, .ie8 .p24_careers .p24_videoControls
	{
	display: none
}

.ie8 .p24_careers div+p.p24_bold {
	margin-top: 15px
}

.p24_width960 {
	min-width: 960px
}

.p24_dPL {
	white-space: pre-line
}

.p24_dWP {
	white-space: normal
}

.d-b {
	display: block
}

.d-i {
	display: inline
}

.d-ib {
	display: inline-block
}

.p24_dB {
	display: block
}

.p24_mAuto {
	margin: 0 auto
}

.p24_mTS {
	margin-top: 5px
}

.p24_mT {
	margin-top: 15px
}

.p24_mTXL {
	margin-top: 25px
}

.p24_mRS {
	margin-right: 5px
}

.p24_mLS {
	margin-left: 5px
}

.p24_mBM {
	margin-bottom: 10px
}

.p24_mB {
	margin-bottom: 15px
}

.p24_mBXL {
	margin-bottom: 25px
}

.m-r-s {
	margin-right: 5px
}

.m-r-m {
	margin-right: 10px
}

.m-r {
	margin-right: 15px
}

.m-b {
	margin-bottom: 15px
}

.m-b-xxl {
	margin-bottom: 30px
}

.m-t-xxl {
	margin-top: 30px
}

.m-t-none {
	margin-top: 0 !important
}

.p24_mPT {
	padding-top: 15px
}

.p24_pR0 {
	padding-right: 0
}

.p24_spui, .p24_content {
	
}

.p24_spui .p24_mT, .p24_content .p24_mT {
	margin-top: 15px
}

.p24_spui .p24_mT:before, .p24_content .p24_mT:before, .p24_spui .p24_mT:after,
	.p24_content .p24_mT:after {
	content: " ";
	display: table
}

.p24_spui .p24_mT:after, .p24_content .p24_mT:after {
	clear: both
}

.p24_spui .p24_mT:before, .p24_content .p24_mT:before, .p24_spui .p24_mT:after,
	.p24_content .p24_mT:after {
	content: " ";
	display: table
}

.p24_spui .p24_mT:after, .p24_content .p24_mT:after {
	clear: both
}

.p24_spui .p24_mB, .p24_content .p24_mB {
	margin-bottom: 15px
}

.p24_spui .p24_mB:before, .p24_content .p24_mB:before, .p24_spui .p24_mB:after,
	.p24_content .p24_mB:after {
	content: " ";
	display: table
}

.p24_spui .p24_mB:after, .p24_content .p24_mB:after {
	clear: both
}

.p24_spui .p24_mB:before, .p24_content .p24_mB:before, .p24_spui .p24_mB:after,
	.p24_content .p24_mB:after {
	content: " ";
	display: table
}

.p24_spui .p24_mB:after, .p24_content .p24_mB:after {
	clear: both
}

.p24_spui .p24_mBXL, .p24_content .p24_mBXL {
	margin-bottom: 25px
}

.p24_spui .p24_mBXL:before, .p24_content .p24_mBXL:before, .p24_spui .p24_mBXL:after,
	.p24_content .p24_mBXL:after {
	content: " ";
	display: table
}

.p24_spui .p24_mBXL:after, .p24_content .p24_mBXL:after {
	clear: both
}

.p24_spui .p24_mBXL:before, .p24_content .p24_mBXL:before, .p24_spui .p24_mBXL:after,
	.p24_content .p24_mBXL:after {
	content: " ";
	display: table
}

.p24_spui .p24_mBXL:after, .p24_content .p24_mBXL:after {
	clear: both
}

.p24_spui .p24_mBXXL, .p24_content .p24_mBXXL {
	margin-bottom: 30px
}

.p24_spui .p24_mBXXL:before, .p24_content .p24_mBXXL:before, .p24_spui .p24_mBXXL:after,
	.p24_content .p24_mBXXL:after {
	content: " ";
	display: table
}

.p24_spui .p24_mBXXL:after, .p24_content .p24_mBXXL:after {
	clear: both
}

.p24_spui .p24_mBXXL:before, .p24_content .p24_mBXXL:before, .p24_spui .p24_mBXXL:after,
	.p24_content .p24_mBXXL:after {
	content: " ";
	display: table
}

.p24_spui .p24_mBXXL:after, .p24_content .p24_mBXXL:after {
	clear: both
}

.p24_spui .p24_pL0, .p24_content .p24_pL0 {
	padding-left: 0
}

.p24_spui .p24_pL0:before, .p24_content .p24_pL0:before, .p24_spui .p24_pL0:after,
	.p24_content .p24_pL0:after {
	content: " ";
	display: table
}

.p24_spui .p24_pL0:after, .p24_content .p24_pL0:after {
	clear: both
}

.p24_spui .p24_pL0:before, .p24_content .p24_pL0:before, .p24_spui .p24_pL0:after,
	.p24_content .p24_pL0:after {
	content: " ";
	display: table
}

.p24_spui .p24_pL0:after, .p24_content .p24_pL0:after {
	clear: both
}

.p24_spui .p24_pR0, .p24_content .p24_pR0 {
	padding-right: 0
}

.p24_spui .p24_pR0:before, .p24_content .p24_pR0:before, .p24_spui .p24_pR0:after,
	.p24_content .p24_pR0:after {
	content: " ";
	display: table
}

.p24_spui .p24_pR0:after, .p24_content .p24_pR0:after {
	clear: both
}

.p24_spui .p24_pR0:before, .p24_content .p24_pR0:before, .p24_spui .p24_pR0:after,
	.p24_content .p24_pR0:after {
	content: " ";
	display: table
}

.p24_spui .p24_pR0:after, .p24_content .p24_pR0:after {
	clear: both
}

.p24_spui .p24_pLS, .p24_content .p24_pLS {
	padding-left: 5px
}

.p24_spui .p24_pLS:before, .p24_content .p24_pLS:before, .p24_spui .p24_pLS:after,
	.p24_content .p24_pLS:after {
	content: " ";
	display: table
}

.p24_spui .p24_pLS:after, .p24_content .p24_pLS:after {
	clear: both
}

.p24_spui .p24_pLS:before, .p24_content .p24_pLS:before, .p24_spui .p24_pLS:after,
	.p24_content .p24_pLS:after {
	content: " ";
	display: table
}

.p24_spui .p24_pLS:after, .p24_content .p24_pLS:after {
	clear: both
}

.p24_spui .p24_pRS, .p24_content .p24_pRS {
	padding-right: 5px
}

.p24_spui .p24_pRS:before, .p24_content .p24_pRS:before, .p24_spui .p24_pRS:after,
	.p24_content .p24_pRS:after {
	content: " ";
	display: table
}

.p24_spui .p24_pRS:after, .p24_content .p24_pRS:after {
	clear: both
}

.p24_spui .p24_pRS:before, .p24_content .p24_pRS:before, .p24_spui .p24_pRS:after,
	.p24_content .p24_pRS:after {
	content: " ";
	display: table
}

.p24_spui .p24_pRS:after, .p24_content .p24_pRS:after {
	clear: both
}

.p24_pTXXL {
	padding-top: 30px
}

.p24_pR0 {
	padding-right: 0
}

.p24_pL0 {
	padding-left: 0
}

.p24_pBXXL {
	padding-bottom: 30px
}

.p24_f18 {
	font-size: 18px
}

.p24_f20 {
	font-size: 20px
}

html {
	background-color: #f6f6f6
}