
<footer style="text-align: center; background-color: transparent;">
	<div class="container">
		<ul class="list-inline">
			<li class="list-inline-item"><a href="../index.html">Home</a></li>
			<li class="footer-menu-divider list-inline-item">&sdot;</li>
			<li class="list-inline-item"><a  href="#about">About</a></li>
			<li class="footer-menu-divider list-inline-item">&sdot;</li>
			<li class="list-inline-item"><a  href="#services">Calculators</a>
			</li>
			<li class="footer-menu-divider list-inline-item">&sdot;</li>
			<li class="list-inline-item"><a href="https://Ndumisosizwe@bitbucket.org/javazombies/java_zombies.git">Our
					Git Repo</a></li>
		</ul>
		<p class="copyright text-muted small">Copyright &copy;Java Zombiez
			2017. All Rights Reserved</p>
	</div>
</footer>