<header>
	<nav
		class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarExample"
			aria-controls="navbarExample" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container">
			<a class="navbar-brand" href="index.html"><img
				src="../img/psybergate.jpg">&emsp;<img src="../img/java.png">
				Zombiez</a>
			<div class="collapse navbar-collapse" id="navbarExample">
				<ul class="navbar-nav ml-auto">

					<li class="nav-item"><a class="nav-link" href="#">Calculators</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Clients</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Products</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>